<div class="w-100 mt3-l mt0 pt1 {{#unless @first}}pt2 mt3{{/unless}}">
  <p class="f7 mw7 mb0">
    {{ published }}
  </p>
  <p class="f4 mt1 mb0 mt0"><a href="/{{path}}" class="link black-90 dim">{{title}}</a></p>
  <p class="f6 measure lh-copy-l mt1 mb1">{{blurb}}</p>
  <p class="f7 mw7 mt0">Tagged:
    {{#each tag}}
      <a href="/blog/tags#{{slugify . }}">{{ . }}</a>{{#unless @last}},{{/unless}}
    {{/each}}
  </p>
</div>