<div class="">
  <!--  #each (limit work 4) -->
  {{#each work }}
    {{#if featured}}
     <div class="pa3-l pb2-l grid-item relative overflow-hidden w-100-l w-50 fl db-l">
        <a class="link black dim db w-third-l w-100 fl mr4 ba b--black-80 br2 overflow-hidden" style="max-width: 18rem;" href="/{{ path }}">
          {{#if video}}
          <video loop muted playsinline poster="/{{ path }}/thumb.jpg" class="db lazy w-100 video-thumb">
            <source
                    data-src="/{{ path }}/thumb.mp4"
                    type="video/mp4"> 
            <img
                 data-src="/{{ path }}/thumb.jpg"
                 title="Your browser does not support the <video> tag">
          </video>
          {{else}}
          <img class="db lazy w-100"
               data-src="/{{ path }}/512w-thumb.jpg"
               data-srcset="/{{ path }}/256w-thumb.jpg 256w,
                            /{{ path }}/512w-thumb.jpg 512w"
               alt="{{ alt }}">
          {{/if}}
        </a>
          <div class="dn db-l z-1">
            <div class="w-100 pa2">
              <p class="f4 mt1 mb1"><a href="/{{ path }}" class="link black dim">{{ title }}</a></p>
              <p class="f6 lh-copy-l mw7">{{ blurb }}</p>
               <p class="f7 mw7">
                {{#if date}}{{ date }}{{/if}}
                {{#if client}} &#8226; {{ client }}{{/if}}
                {{#if tag}} &#8226; Tagged: 
                {{#each tag}}
                 <a href="/tags/{{slugify . }}" class="link blue dim bb-l">{{ . }}</a>{{#unless @last}},{{/unless}}
                {{/each}}
                {{/if}}
              </p>
            </div>
          </div>
      </div>
    {{/if}}
  {{/each}}    
</div>
<div class="pa3-l pb2-l w-100 pt3 relative overflow-hidden index-button">
  <a class="link black dim db w-50 w-100-l fl mr4 ba b--black-80 br2 overflow-hidden tc" href="/work">
    <p class="nav-links f5">See More <span style="padding-top:0.25rem; font-size:85%;">&#x2192</span></p>
  </a>
</div>
{{> lazy-load }}
{{> mobile-check }}