<div class="flex flex-wrap">
  {{#if category }}
  
    {{#each work }}
        {{#each tag}}
          {{#if_eq this ../../category}}
            <div class="w-third-l w-50 pa3-l pb2-l grid-item relative overflow-hidden ma0">
              <a class="link black dim db ba b--black-80 br2 overflow-hidden" href="/{{ ../path }}">
                {{#if ../video}}
                <video loop muted playsinline poster="/{{ ../path }}/thumb.jpg" class="db lazy w-100 video-thumb">
                  <source
                          data-src="/{{ ../path }}/thumb.mp4"
                          type="video/mp4"> 
                  <img class=""
                       data-src="/{{ ../path }}/thumb.jpg"
                       title="Your browser does not support the <video> tag">
                </video>
                {{else}}
                <img class="db lazy w-100"
                     data-src="/{{ ../path }}/512w-thumb.jpg"
                     data-srcset="/{{ ../path }}/256w-thumb.jpg 256w,
                                  /{{ ../path }}/512w-thumb.jpg 512w"
                     alt="{{ ../alt }}">
                {{/if}}
              </a>
              <div class="dn db-l z-1">
                <div class="w-100 pa2">
                  <p class="f5 mt1 mb1"><a href="/{{ ../path }}" class="link black dim">{{ ../title }}</a></p>
                  <p class="f7 mt0 mb0">{{ ../date }}</p>
                </div>
              </div>
            </div>
          {{/if_eq}}
        {{/each}}
    {{/each}}
  
  {{else}}
  
  {{#each work }}
    <div class="w-third-l w-50 pa3-l pb2-l grid-item relative overflow-hidden ma0">
      <a class="link black dim db ba b--black-80 br2 overflow-hidden" href="/{{ path }}">
          {{#if video}}
          <video loop muted playsinline poster="/{{ path }}/thumb.jpg" class="db lazy w-100 video-thumb">
            <source
                    data-src="/{{ path }}/thumb.mp4"
                    type="video/mp4"> 
            <img
                 data-src="/{{ path }}/thumb.jpg"
                 title="Your browser does not support the <video> tag">
          </video>
          {{else}}
          <img class="db lazy w-100"
               data-src="/{{ path }}/512w-thumb.jpg"
               data-srcset="/{{ path }}/256w-thumb.jpg 256w,
                            /{{ path }}/512w-thumb.jpg 512w"
               alt="{{ alt }}">
          {{/if}}
          </a>
          <div class="dn db-l z-1">
            <div class="w-100 pa2">
              <p class="f5 mt1 mb1"><a href="/{{ path }}" class="link black dim">{{ title }}</a></p>
              <p class="f7 mt0 mb0">{{ date }}</p>
            </div>
          </div>
      </div>
  {{/each}}
  {{/if}}    
</div>
{{> lazy-load }}
{{> mobile-check }}