{{> header }}
{{> nav active="Work"}}
  <div class="ml3-l mr3-l ml1 mr1">
    <p class="f3-l f4 fw4 mt4-l pt2-l mt2 mb2">{{ title }}</p>
  </div>
  <main class="ml3-l mr3-l">
    <div>
      {{#if video}}
      {{> video-iframe }}
      {{else}}
      <img src="{{ full }}"
           srcset= "{{ sizes }}"
           alt="{{ alt }}"
           class="w-100 ba-l b--black-80 br2-l db"
           style="max-width: {{ width }}">
      {{/if}}
    </div>
    <div class="pl1 pr1 pa0-l">
      <div class="db mr3-l">
        <p class="mw6 mt3 mb3">{{ description }}</p>
        <p class="f7 mw7">
          {{#if date}}{{ date }}{{/if}}
          {{#if client}} &#8226; {{ client }}{{/if}}
          {{#if weblink}} &#8226; <a href="{{ weblink }}" class="link blue dim bb-l">{{ weblink }}</a>{{/if}}
          {{#if tag}} &#8226; Tagged: 
          {{#each tag}}
           <a href="/tags/{{slugify . }}" class="link blue dim bb-l">{{ . }}</a>{{#unless @last}},{{/unless}}
          {{/each}}
          {{/if}}
        </p>
      </div>
      {{#if contents}}
      <div class="mw6 pb2-l pt2-l pt1">
      <p class="fw6 mt1">Notes</p>
      <div class="mw7 contents">{{{ contents }}}</div>
      </div>
      {{/if}}
    </div>
    <div class="pl1 pr1 pa0-l">
      <p class="f7 mt3-l {{#if contents}}{{else}}pt2-l{{/if}} mb3 mw6">Questions about the artwork? Email <a href="mailto:sean@inform.studio" class="link blue dim bb-l">sean@inform.studio</a>. &#8226; <a href="/copyright.html" class="link blue dim bb-l">Copyright Information</a></p>
    </div>
    <div class="w-100 mw7 flex mt4-l mb3-l mb2 pl1 pr1 pl0-l pr0-l pt1-l pt0">
      {{#if previous }}
      <div class="w-third fl tc-l tl pt2-l pt1">
        <a href="/{{ previous.path }}" class="fw5 fw4-l link black-90 dim nav-links f5"><span style="padding-top:0.25rem; font-size:85%;">&#x2190</span> Previous</a>
        <div class="relative overflow-hidden mt2 ba b--black-80 br2">
        <a class="link black" href="/{{ previous.path }}">
          <div class="dn db-l absolute w-100 h-100 h-100 pb4-l fade-in z-1 tl">
            <div class="w-100 pa2 bg-white">
              <p class="f6">{{ previous.title }}</p>
              <p class="f7">{{ previous.date }}</p>
            </div>
          </div>
          {{#if previous.video}}
          <video loop muted playsinline poster="/{{ previous.path }}/thumb.jpg" class="db w-100 video-thumb">
            <source
                    src="/{{ previous.path }}/thumb.mp4"
                    type="video/mp4"> 
            <img
                 src="/{{ previous.path }}/thumb.jpg"
                 title="Your browser does not support the <video> tag">
          </video>
          {{else}}
          <img class="db w-100"
               src="/{{ previous.path }}/512w-thumb.jpg"
               srcset="/{{ previous.path }}/256w-thumb.jpg 256w,
                       /{{ previous.path }}/512w-thumb.jpg 512w"
               alt="{{ alt }}">
          {{/if}}
        </a>
        </div>
      </div>
      {{/if}}
      <div class="w-third fl tc pt2-l pt1">
        <a href="/work/" class="fw5 fw4-l link black-90 dim nav-links f5">All Work</a>
      </div>
      {{#if next }}
      <div class="w-third fl tc-l tr pt2-l pt1">
        <a href="/{{ next.path }}" class="fw5 fw4-l link black-90 dim nav-links f5">Next <span style="padding-top:0.25rem; font-size:85%;">&#x2192</span></a>
        <div class="relative overflow-hidden mt2 ba b--black-80 br2">
        <a class="link black" href="/{{ next.path }}">
          <div class="tl dn db-l absolute w-100 h-100 h-100 pb4-l fade-in z-1">
            <div class="w-100 pa2 bg-white">
              <p class="f6">{{ next.title }}</p>
              <p class="f7">{{ next.date }}</p>
            </div>
          </div>
          {{#if next.video}}
          <video loop muted playsinline poster="/{{ next.path }}/thumb.jpg" class="db w-100 video-thumb">
            <source
                    src="/{{ next.path }}/thumb.mp4"
                    type="video/mp4"> 
            <img
                 src="/{{ next.path }}/thumb.jpg"
                 title="Your browser does not support the <video> tag">
          </video>
          {{else}}
          <img class="db w-100"
               src="/{{ next.path }}/512w-thumb.jpg"
               srcset="/{{ next.path }}/256w-thumb.jpg 256w,
                       /{{ next.path }}/512w-thumb.jpg 512w"
               alt="{{ alt }}">
          {{/if}}
        </a>
        </div>
      </div>
      {{/if}}
    </div>
  </main>
  <div class="mt4-l mt2 pt1 pt0-l"></div>
  {{> footer}}
  {{> mobile-check }}
</body>
</html>