{{> header }}
{{> nav active="Blog"}}
  <div class="ml3-l mr3-l ml1 mr1">
    <p class="f3-l f4 fw4 mt4-l pt2-l mt2 mb2 bb b--black-80">Blog Entries</p>
    <p class="mb0 fl mt2 pr3-l pr2 pt1-l pt0">Order by:</p>
    {{> blog-nav active="Tags"}}
  </div>
  <main class="ml3-l mr3-l ml1 mr1">
    <p class="f6 mw5 mt0 mb4">
      Tag list: 
      {{#each this.tags}}
        <a href="#{{slugify @key}}">{{@key}}</a>{{#unless @last}} &#8226; {{/unless}}
      {{/each}}
    </p>
    {{#each this.tags}}
      <div class="mb4-l mb3"> 
      <h1 id="#{{slugify @key}}" class="fw4 f4-l f5">{{@key}}</h1>
      {{#each this}}
        <div class="blog-entry">
          <p class="mb0 f5-l f6"><a href="/{{path}}">{{title}}</a></p>
          <p class="f7" style="margin-top: 0.2rem;">{{ published }}</p>
        </div>
      {{/each}}
      </div>
    {{/each}}
  <div class="mt5-l mt4"></div>
  </main>
  {{> footer}}
</body>
</html>